/* src/global.css */
body {
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100px;
}

html {
    box-sizing: border-box;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, body {
    color: #f2f2f2;
}

button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem !important;
    border-radius: 0px !important;
    height: 2.6rem !important; 
    background-color: #93e8e1 !important;
    color: #000 !important;
    border: 1px solid #93e8e1 !important;
    outline: none !important;
    padding: 0 1rem !important;
}